@import "../../../../../styles/commonTypes.scss";

.id {
    @include table_cell;
    width: 40px;
}

.car__num {
    @include table_cell;
    width: 70px;
}

.car__service_company__name {
    @include table_cell;
    width: 100px;
}

.failure_date {
    @include table_cell;
    width: 100px;

    @media (max-width: 650px) {
        display: none;
    }    
}

.operating_time_s {
    @include table_cell;
    width: 100px;

    @media (max-width: 1090px) {
        display: none;
    }
}

.failure_node__name {
    @include table_cell;
    width: 100px;
}

.failure_description {
    @include table_cell;
    width: 100px;

    @media (max-width: 430px) {
        display: none;
    }
}

.recovery_method__name {
    @include table_cell;
    width: 120px;

    @media (max-width: 770px) {
        display: none;
    }
}

.repair_parts {
    @include table_cell;
    width: 120px;

    @media (max-width: 890px) {
        display: none;
    }
}

.recovery_date {
    @include table_cell;
    width: 120px;

    @media (max-width: 550px) {
        display: none;
    }
}

.downtime_s {
    @include table_cell;
    width: 100px;

    @media (max-width: 990px) {
        display: none;
    }
}