.item {
    display: flex;
    flex-direction: row;
    // gap: 5px;
    
    border: 1px solid purple;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .id {
        width: 40px;
    }

    .car__num {
        width: 70px;
    }

    .car__service_company__name {
        width: 100px;
    }

    .failure_date {
        width: 100px;
    }

    .operating_time_s {
        width: 100px;
    }

    .failure_node__name {
        width: 100px;
    }

    .failure_description {
        width: 100px;
    }

    .recovery_method__name {
        width: 120px;
    }

    .repair_parts {
        width: 120px;
    }

    .recovery_date {
        width: 120px;
    }

    .downtime_s {
        width: 100px;
    }

    div {
        border: 1px solid green;
    }
}