@import "./commonTypes.scss";

.filter_form_container {
    display: flex;
    justify-content: center;
}

.filter_form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 340px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;

    border: 2px solid $color_red;
    border-radius: 5px;
}

.table {
    width: 100%;

    font-family: $fontname;

    .header {
        background-color: $color_blue;
    }
}