@import "../../../styles/commonTypes.scss";

.menu {
    font-family: $fontname;
    display: flex; 
    // color: $color_white;
    // @include only_desktop_flex;
    gap: 49px;
    align-items: center;
    justify-content: center;

    // border: 1px solid purple;
}

// .item {
//     font-family: Inter;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 16.94px;
//     letter-spacing: 0.01em;
//     /* text-align: left;    */

//     // border: 1px solid blue;
//     color: black;
//     text-decoration: none;
// }