@import "../../../../styles/commonTypes.scss";



.id {
    @include table_cell;
    width: 40px;
}

.name {
    @include table_cell;    
    width: 100px;
}

.description {
    @include table_cell;
    width: 200px;
}