@import "../../styles/commonTypes.scss";

.header {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    border: 1px solid red;

    div {
        // border: 1px solid green;
    }

    .upper {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .lower {
        height: 100px;
    }

    .logo_div {
        // height: 100px;
        // width
        img {
            // height: 50%;
            // transform: scale(0.5);
        }
    }
}

// .header img {
//     // border: 1px solid blue;
// }

// .menu_button {
//     // display: none;
//     // background-size: contain;
//     // background-image: url("../img/profile-options-button.svg");
//     background-image: url("../../img/profile-options-button.svg");
//     background-color: transparent;
//     outline: none;

//     min-width: 30px;
//     min-height: 25px;
//     border: none;
//     cursor: pointer;
//     // margin-right: 26px;
// }

// .menu_background {
//     display: flex;
//     // justify-content: center;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     // padding: 25px;
//     background: $color_teal;
//     // border-radius: 16px;
//     // min-width: 250px;
//     width: 100%;
//     height: 100%;
// }